@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.min-h-97 {
  min-height: 30rem; /* 480 */
}

.min-h-98 {
  min-height: 32rem; /* 512 */
}

.min-w-97 {
  min-width: 30rem; /* 480 */
}

.min-w-98 {
  min-width: 60rem; /* 480 */
}

.w-55p {
  width: 55%;
}